<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Reward Base Investing</title>
  <link href="{{ url_for('static', filename='css/trading.css') }}" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <section id="sidebar">
    <section class="title-container">
      <img src="{{ url_for('static', filename='images/logo.png') }}" width="40px" alt="logo" />
      <h1>WISEBUCKS.AI</h1>
    </section>
    <section class="links-container">
      <h2>FEATURES</h2>
      <div class="links">
        <div class="icon">
          <i class="fa-solid fa-object-group"></i>
        </div>
        <span>Dashboard</span>
      </div>
      <div class="links">
        <div class="icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <span>Investment challenge</span>
      </div>
      <div class="links" style="color:#e8349c;">
        <div class="icon">
          <i class="fa-solid fa-file-lines" style="color:#e8349c"></i>
        </div>
        <span style>Paper trading</span>

      </div>
      <div class="vl"></div>
      <div class="links">
        <div class="icon">
          <i class="fa-solid fa-sack-dollar"></i>
        </div>
        <span>WiseWealth</span>
      </div>
      <h2>DOCUMENTATION</h2>
      <div class="links">
        <div class="icon">
          <i class="fa-brands fa-youtube"></i>
        </div>
        <span>Tutorials</span>
      </div>
      <div class="chatbot-button-container">
        <a class="chatbot-button" href="#"><i class="fa-solid fa-robot" style="padding-right: 10px;"></i>LAUNCH
          CHATBOT</a>
      </div>
    </section>
  </section>
  <section id="main-dashboard-content">
    <section id="top-section">
      <h1 id="welcome-title">Hello, Sally Norman</h1>
      <div class="action-icons">
        <div class="action-icon-one"></div>
        <span style="font-size: 30px; padding-left: 10px;">▾</span>
      </div>
    </section>
    <h2 class="top-dash">PAPER TRADING</h2>
    
    <section id="grid-container">
      <div class="grid-item one"></div>
      <div class="grid-item two"></div>
    </section>
    <section id="grid-container2">
      <div class="grid-item one"></div>
      <div class="grid-item two"></div>
    </section>
  </section>
</body>

</html>
